body{
    margin:0;
    padding:20px;
    background-color: aqua;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

button {
    border: none;
    border-radius: 3px;
    background-color: lightblue;
    padding: 5px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.colors {
    display: flex;
    gap: 5px;
    margin:5px;
    margin-top: 0;
}

.features {
    display: flex;
    gap: 5px;
}

.task-border {
    border-left: 6px black solid;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.green {
    width: 20px;
    height: 20px;
    background-color: green;
}
.yellow {
    width: 20px;
    height: 20px;
    background-color: orange;
}
.red {
    width: 20px;
    height: 20px;
    background-color: red;
}